@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .banner {
    height: 50vh;
  }

  .logo-div {
    width: 200px;
    height: 200px;
    justify-content: center;
  }

  #logo {
    width: 200px;
    height: 200px;
  }

  .game-name {
    font-size: 4.8rem;
    text-shadow: 4px 4px 0px #b2a98f, 20px 14px 10px rgba(0, 0, 0, 0.15),
      20px 24px 2px rgba(0, 0, 0, 0.1), 20px 24px 30px rgba(0, 0, 0, 0.1);
  }

  .comment {
    width: 60vw;
    height: 120vh;
  }

  #comment-area {
    width: 50vw;
  }

  .comment-section {
    width: 50vw;
  }

  .comment-button {
    margin-right: 8%;
  }
}

@media screen and (max-width: 992px) {
  .banner {
    height: 30vh;
  }

  .logo-div {
    width: 100px;
    height: 100px;
  }

  #logo {
    width: 100px;
    height: 100px;
  }

  .game-name {
    font-size: 2rem;
    text-shadow: 2px 2px 0px #b2a98f, 15px 9px 10px rgba(0, 0, 0, 0.15),
      15px 14px 2px rgba(0, 0, 0, 0.1), 15px 14px 30px rgba(0, 0, 0, 0.1);
  }

  .comment {
    width: 80vw;
    height: 150vh;
  }

  #comment-area {
    width: 68vw;
  }

  .comment-section {
    width: 68vw;
  }
}

@media screen and (max-width: 600px) {
  .logo-div {
    position: absolute;
    top: 0;
    visibility: hidden;
  }

  .fa {
    font-size: 2rem;
  }

  .comment {
    width: 100%;
  }

  #comment-area {
    width: 80vw;
  }

  .comment-section {
    width: 80vw;
  }

  .comment-button {
    margin-right: 10%;
  }
}

@media screen and (min-width: 600px) {
  .fa {
    font-size: 5rem;
  }

  .item-nav {
    width: 80vw;
    height: 20vh;
  }

  .comment-button {
    margin-right: 8%;
  }
}

body {
  background-image: url(images/white-background1.png);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: rgb(48, 79, 109);
}

.sign-in-button a {
  text-decoration: none;
}

.sign-in-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login {
  margin-left: 2px;
  padding: 7px;
  border-radius: 2px;
  background-color: white;
  transition: width height 2s;
  cursor: pointer;
}

.login:active {
  width: 70px;
  height: 35px;
}

.logo-div {
  display: flex;
  cursor: pointer;
  user-select: none;
}

#logo {
  position: absolute;
}

.logo-active {
  animation: move 0.9s 1 linear;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(10%) translateY(-10%) rotate(10deg);
  }
  40% {
    transform: translateX(40%) translateY(-40%) rotate(-20deg);
  }
  80% {
    transform: translateX(80%) translateY(-80%) rotate(10deg);
  }
  100% {
    transform: translateX(200%) translateY(-200%);
  }
}

.game-name {
  color: white;
  font-family: "Varela Round", sans-serif;
  margin-right: 7%;
  margin-left: 2%;
  white-space: nowrap;
  user-select: none;
  z-index: 5;
}

.centerer {
  display: flex;
  justify-content: center;
}

.item-nav {
  display: flex;
  align-items: center;
  margin-top: 5%;
  border: gray 3px solid;
  background-color: white;
}

#item-list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

#scroll-left {
  position: sticky;
  left: 0px;
  z-index: 2;
}

#scroll-right {
  position: sticky;
  right: 0;
  z-index: 2;
}

.scroll-button {
  border: none;
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  color: rgb(46, 46, 46);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.scroll-button:active {
  transform: scale(0.9);
  color: rgb(70, 70, 70);
}

.item-style {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  animation: no-hover 1s 1 ease;
  text-decoration: none;
  color: black;
}

.item-style:hover {
  animation: hover 0.7s 1 ease forwards;
}

@keyframes hover {
  from {
    transform: scale(1);
    text-shadow: rgba(0, 0, 0, 0.75);
  }
  to {
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, 0.678) 0 0 0;
  }
}

@keyframes no-hover {
  from {
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, 0.678) 0 0 0;
  }
  to {
    transform: scale(1);
    text-shadow: rgba(0, 0, 0, 0.75);
  }
}

.fa {
  color: rgba(0, 0, 0, 0.749);
  margin-right: 15px;
}

#item-list::-webkit-scrollbar {
  height: 10px;
}

#item-list::-webkit-scrollbar-track {
  background: rgb(25, 25, 25);
  border: 4px solid transparent;
  background-clip: content-box;
}

#item-list::-webkit-scrollbar-thumb {
  background: rgb(131, 128, 128);
  border-radius: 15px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: gray 3px solid;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 10px;
  background-color: white;
  min-height: 300px;
}

#comment-area {
  margin-top: 3%;
  resize: none;
  height: 10vh;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 1%;
  border: 3px solid gray;
}

#comment-area:focus {
  background-color: white;
}

h2 {
  text-align: center;
  margin-top: 3%;
  font-family: "Varela Round", sans-serif;
}

.comment-button {
  border: none;
  background-color: rgb(48, 79, 109);
  border-radius: 20px;
  height: 2.5em;
  width: 6em;
  color: rgb(255, 255, 255);
  font-family: "Varela Round", sans-serif;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
}

.comment-button:hover {
  background-color: rgba(48, 78, 109, 0.822);
}

.button-end {
  width: 100%;
  display: flex;
  justify-content: end;
}

.comment-section {
  border: gray 3px solid;
  margin-top: 20px;
  height: 50vh;
}

.fake-comment {
  margin-top: 5%;
  margin-left: 5%;
  list-style: none;
}

.comment-style {
  padding-bottom: 1.5%;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.comment-style:hover {
  background-color: rgba(3, 3, 3, 0.027);
}

#user1::before {
  content: "Ian: ";
  font-family: "Oswald", sans-serif;
  border-bottom: 2px black solid;
}

.thumb-button {
  margin-right: 1%;
  margin-left: 1%;
}

.thumb-button:hover {
  transform: scale(1.1);
}

.thumb-button:active {
  color: #030303b7;
  transform: scale(1.2);
}

#user1 .thumb-button-down::after {
  content: "3";
}

#user1 .thumb-button-up::after {
  content: "3";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(48, 79, 109);
  height: 200px;
}

.footer-content {
  color: rgb(177, 177, 177);
  margin: 10px;
}

.social {
  font-size: xx-large;
}

#burgir {
  margin: 50px;
  width: 50vw;
  font-family: "Poppins", sans-serif;
}

.burgir-img {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: rgba(0, 0, 0, 0.749) 3px dotted;
  border-top: rgba(0, 0, 0, 0.749) 3px dotted;
}
